.app {
    margin: 5vh auto;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.table td, .table th {
    border-top: none;
}

h1 {
    color: blue
}